# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.env

# Django
*.log
*.sqlite3
db.sqlite3
media/

# PyCharm
.idea/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Docker
*.docker
docker-compose.override.yml

# Virtual Environment
venv/
ENV/
env/
.venv/

